<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>4A287b</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CodePilot3</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>3.0</string>
	<key>CFBundleName</key>
	<string>CodePilot3</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>4A287b</string>
	<key>DTSDKName</key>
	<string></string>
	<key>DTXcode</key>
	<string>0400</string>
	<key>DTXcodeBuild</key>
	<string></string>
	<key>DVTPlugInCompatibilityUUIDs</key>
	<array>
		<string>640F884E-CE55-4B40-87C0-8869546CAB7A</string>
		<string>63FC1C47-140D-42B0-BB4D-A10B2D225574</string>
		<string>37B30044-3B14-46BA-ABAA-F01000C27B63</string>
		<string>A2E4D43F-41F4-4FB9-BB94-7177011C9AED</string>
		<string>AD68E85B-441B-4301-B564-A45E4919A6AD</string>
		<string>C4A681B0-4A26-480E-93EC-1218098B9AA0</string>
		<string>FEC992CC-CA4A-4CFD-8881-77300FCB848A</string>
		<string>AABB7188-E14E-4433-AD3B-5CD791EAD9A3</string>
		<string>992275C1-432A-4CF7-B659-D84ED6D42D3F</string>
		<string>B395D63E-9166-4CD6-9287-6889D507AD6A</string>
		<string>C3998872-68CC-42C2-847C-B44D96AB2691</string>
		<string>DF11C142-1584-4A99-87AC-1925D5F5652A</string>
		<string>E0A62D1F-3C18-4D74-BFE5-A4167D643966</string>
		<string>CA351AD8-3176-41CB-875C-42A05C7CDEC7</string>
		<string>426A087B-D3AA-431A-AFDF-F135EC00DE1C</string>
        <string>26355AE5-C605-4A56-A79B-AD4207EA18DD</string>
        <string>8B9F56A7-4D8B-41AA-A65D-D4906CDF1539</string>
	</array>
	<key>NSPrincipalClass</key>
	<string>CPCodePilotPlugin</string>
	<key>SUEnableAutomaticChecks</key>
	<string>YES</string>
	<key>SUFeedURL</key>
	<string>http://updates.macoscope.net/feed/codepilot2beta</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUShowReleaseNotes</key>
	<string>YES</string>
	<key>XC4Compatible</key>
	<true/>
	<key>XCGCReady</key>
	<string>YES</string>
	<key>XCPluginHasUI</key>
	<string>NO</string>
</dict>
</plist>
